:root { 
--white_A700_7f:#ffffff7f; 
--gray_600_cc:#6e6a6acc; 
--gray_600_99:#84848499; 
--white_A700_b2:#ffffffb2; 
--gray_50_01:#fbfbfb; 
--black_900_b2:#000000b2; 
--white_A700_3f:#ffffff3f; 
--white_A700_72:#ffffff72; 
--black_900_3f:#0000003f; 
--gray_50:#fcfafa; 
--red_50:#fceeee; 
--black_900_01:#0a0909; 
--black_900_00:#00000000; 
--black_900:#000000; 
--gray_200_66:#efe8e866; 
--black_900_02:#0f0404; 
--gray_400:#cacaca; 
--blue_gray_100:#cbcaca; 
--gray_200:#f0f0f0; 
--yellow_A700:#ffd600; 
--gray_700_b5:#6e6969b5; 
--gray_100:#f3f3f3; 
--black_900_cc:#000000cc; 
--white_A700_01:#fdfdfd; 
--gray_100_01:#f4f4f4; 
--gray_700_66_01:#6e696966; 
--blue_100:#c9eeff; 
--white_A700:#ffffff; 
--gray_700_66:#77606066; 
}